<div class="container">
  <div class="p-3">
    <h1>All my wishes</h1>
  </div>

  <div class="container-fluid p-4">
    <form class="d-flex" role="form">
      <input class="form-control me-2" type="search" placeholder="Add a wish" aria-label="Add" name="new wish text" [(ngModel)]="newWishText"/>
      <button class="btn btn-outline-success" (click)="$event.preventDefault(); addWish()" type="submit">Add</button>
    </form>
  </div>

  <div class="p-3">
    <select class="form-select w-50" aria-label="Filter wishes"
            [(ngModel)]="filterValueSelected"
    >
      <option value="0">All</option>
      <option value="1">Fulfilled</option>
      <option value="2">Unfulfilled</option>
    </select>
  </div>

  <div *ngIf="filteredWishes.length === 0; else showWishList">
    <p>No wishes yet</p>
  </div>

  <ng-template #showWishList>
    <ul *ngFor="let wish of filteredWishes; let idx = index">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               [id]="idx" value="option{{idx}}"
               [checked]="wish.isCompleted"
               (click)="checkOrUncheck(wish)"
        >
        <label class="form-check-label"
               [for]="idx">
          {{ wish.wishName }}
        </label>
      </div>
    </ul>
  </ng-template>
</div>
